In [ ]:
import torch
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
# Set device
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

cpu

In [ ]:
w=[];b=[];W_xh=[];W_hh1=[];b_xh=[];b_hh1=[];W_xh2=[];W_hh2=[];b_xh2=[];b_hh2=[]

for i in range(100):


  a = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/w.pt',map_location=torch.device('cpu')).detach().numpy()
  bb = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/b.pt',map_location=torch.device('cpu')).detach().numpy()
  c = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/W_xh.pt',map_location=torch.device('cpu')).detach().numpy()
  d = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/W_hh1.pt',map_location=torch.device('cpu')).detach().numpy()
  e = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/b_xh.pt',map_location=torch.device('cpu')).detach().numpy()
  f = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/b_hh1.pt',map_location=torch.device('cpu')).detach().numpy()
  g = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/W_xh2.pt',map_location=torch.device('cpu')).detach().numpy()
  h = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/W_hh2.pt',map_location=torch.device('cpu')).detach().numpy()
  i = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(i+1)+'/b_xh2.pt',map_location=torch.device('cpu')).detach().numpy()
  j = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/2/'+str(1)+'/b_hh2.pt',map_location=torch.device('cpu')).detach().numpy()

  w.append(a);b.append(bb);W_xh.append(c);W_hh1.append(d);b_xh.append(e);b_hh1.append(f);W_xh2.append(g)
  W_hh2.append(h);b_xh2.append(i);b_hh2.append(j)

In [ ]:
b_w = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/w.pt',map_location=torch.device('cpu')).detach().numpy()
b_b = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/b.pt',map_location=torch.device('cpu')).detach().numpy()
b_W_xh = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/W_xh.pt',map_location=torch.device('cpu')).detach().numpy()
b_W_hh1 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/W_hh1.pt',map_location=torch.device('cpu')).detach().numpy()
b_b_xh = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/b_xh.pt',map_location=torch.device('cpu')).detach().numpy()
b_b_hh1 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/b_hh1.pt',map_location=torch.device('cpu')).detach().numpy()
b_W_xh2 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/W_xh2.pt',map_location=torch.device('cpu')).detach().numpy()
b_W_hh2 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/W_hh2.pt',map_location=torch.device('cpu')).detach().numpy()
b_b_xh2 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/b_xh2.pt',map_location=torch.device('cpu')).detach().numpy()
b_b_hh2 = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/orignal/b_hh2.pt',map_location=torch.device('cpu')).detach().numpy()

In [ ]:
p = len(w)
N = p

#**Output and 2nd hidden layer**

In [ ]:

minn = []
maxx = []
for k in range(2):
  for j in range(8):
    store1 = []
    for i in range(N):
      oh11_w = w[i][k][j]/b_w[k][j]
      store1.append(oh11_w)
    minn.append(min(store1))
    maxx.append(max(store1))

minn1 = np.mat([minn[:8],
        minn[8:]])
maxx1 = np.mat([maxx[:8],
        maxx[8:]])

In [ ]:
o_h2_min = pd.DataFrame(minn1,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['output_1','output_2'])
o_h2_max = pd.DataFrame(maxx1,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['output_1','output_2'])

display(o_h2_min)
display(o_h2_max)

                W1        W2        W3  ...   W6        W7        W8
output_1 -0.160106 -3.006222  0.623336  ...  1.0  1.796824  0.811348
output_2  0.063650  1.000000  1.058847  ...  1.0 -0.768693  0.469071

[2 rows x 8 columns]

                W1        W2        W3  ...   W6        W7        W8
output_1  0.930591  1.000000  1.351624  ...  1.0  3.845198  1.091169
output_2  1.024620  1.140516  1.318798  ...  1.0  1.455784  0.974502

[2 rows x 8 columns]

In [ ]:
category1 = []
category2 = []
category3 = []

for j in range(minn1.shape[0]):
  for i in range(minn1.shape[1]):
  
    if 0.9<=minn1[j,i]<=1.1 and 0.9<=maxx1[j,i]<=1.1 :
      category1.append('output HL2 W'+str(j+1)+str(i+1))

    elif (0.75<=minn1[j,i]<=1.25 and 0.75<=maxx1[j,i]<=1.25):
      category2.append('output HL2 W'+str(j+1)+str(i+1))

    else:
      category3.append('output HL2 W'+str(j+1)+str(i+1))

#**Input and 1st hidden layer**

In [ ]:
minn = []
maxx = []
for k in range(8):

  for j in range(4):

    store1 = []
    for i in range(N):

      oh11_w = W_xh[i][k][j]/b_W_xh[k][j]
      store1.append(oh11_w)
    minn.append(min(store1))
    maxx.append(max(store1))

minn2 = np.mat([minn[:4],minn[4:8],minn[8:12],minn[12:16],minn[16:20],minn[20:24],minn[24:28],minn[28:]])
maxx2 = np.mat([maxx[:4],maxx[4:8],maxx[8:12],maxx[12:16],maxx[16:20],maxx[20:24],maxx[24:28],maxx[28:]])

In [ ]:
in_h1_min = pd.DataFrame(minn2.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['input_1','input_2','input_3','input_4'])
in_h1_max = pd.DataFrame(maxx2.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['input_1','input_2','input_3','input_4'])

display(in_h1_min)
display(in_h1_max)

                W1   W2        W3  ...        W6        W7        W8
input_1  -4.011560  1.0  0.038449  ...  0.965085 -1.626775 -4.458099
input_2  -1.740349  1.0  0.116605  ...  0.978173 -2.451787  1.143011
input_3   0.459834  1.0  0.706052  ...  0.925579  0.724745  0.873745
input_4 -15.028780  1.0 -0.947935  ...  0.969736 -2.591005  0.748319

[4 rows x 8 columns]

                W1   W2        W3  ...        W6        W7        W8
input_1   4.088014  1.0  1.075191  ...  1.031282  2.146690  0.169372
input_2   5.435785  1.0  1.069086  ...  1.019623  2.506809  1.939749
input_3   1.558950  1.0  1.527397  ...  1.066947  2.180847  1.134230
input_4  15.563281  1.0  1.143833  ...  1.026946  1.603522  1.356586

[4 rows x 8 columns]

In [ ]:
for j in range(minn2.T.shape[0]):
  for i in range(minn2.T.shape[1]):
  
    if 0.9<=minn2.T[j,i]<=1.1 and 0.9<=maxx2.T[j,i]<=1.1 :
      category1.append('input HL1 W'+str(j+1)+str(i+1))

    elif (0.75<=minn2.T[j,i]<=1.25 and 0.75<=maxx2.T[j,i]<=1.25):
      category2.append('input HL1 W'+str(j+1)+str(i+1))

    else:
      category3.append('input HL1 W'+str(j+1)+str(i+1))

#**Weights of 1st hidden layer itself**

In [ ]:
minn = []
maxx = []
for k in range(8):

  for j in range(8):

    store1 = []
    for i in range(N):

      oh11_w = W_hh1[i][k][j]/b_W_hh1[k][j]
      store1.append(oh11_w)
    minn.append(min(store1))
    maxx.append(max(store1))

minn3 = np.mat([minn[:8],minn[8:16],minn[16:24],minn[24:32],minn[32:40],minn[40:48],minn[48:56],minn[56:]])
maxx3 = np.mat([maxx[:8],maxx[8:16],maxx[16:24],maxx[24:32],maxx[32:40],maxx[40:48],maxx[48:56],maxx[56:]])

In [ ]:
h1_h1_min = pd.DataFrame(minn3.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])
h1_h1_max = pd.DataFrame(maxx3.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])

display(h1_h1_min)
display(h1_h1_max)

                W1   W2         W3  ...        W6         W7         W8
Neuron_1 -1.690840  1.0 -21.637579  ...  0.972775 -17.104706 -68.005371
Neuron_2  1.000000  1.0   1.000000  ...  1.000000   1.000000   1.000000
Neuron_3  0.105931  1.0   0.620413  ...  0.961496   0.371597   0.989978
Neuron_4  0.268098  1.0  -5.442102  ...  0.941266  -3.600034   0.720695
Neuron_5  0.955279  1.0  -0.774903  ...  0.965374   0.666197   0.739349
Neuron_6  1.000000  1.0   0.944558  ...  0.960430   0.976730   0.921499
Neuron_7  1.146860  1.0   0.555880  ...  0.985657   0.658654   0.883583
Neuron_8  0.736292  1.0   2.365138  ...  0.975253   0.649501  -1.063996

[8 rows x 8 columns]

                W1   W2        W3  ...        W6         W7         W8
Neuron_1  5.962861  1.0  6.298957  ...  1.000000  14.161592  10.802094
Neuron_2  1.000000  1.0  1.000000  ...  1.000000   1.000000   1.000000
Neuron_3  1.308021  1.0  1.628056  ...  1.042802   3.036048   1.159496
Neuron_4  1.125951  1.0  0.428546  ...  1.065292   4.717906   1.277661
Neuron_5  1.312007  1.0  2.301296  ...  1.038492   1.270094   0.997871
Neuron_6  1.080905  1.0  1.067008  ...  1.000000   1.023580   1.000000
Neuron_7  2.201222  1.0  1.330752  ...  1.012903   1.659370   1.158318
Neuron_8  1.906549  1.0  6.708342  ...  1.027511   1.466218   2.366670

[8 rows x 8 columns]

In [ ]:
for j in range(minn3.T.shape[0]):
  for i in range(minn3.T.shape[1]):
  
    if 0.9<=minn3.T[j,i]<=1.1 and 0.9<=maxx3.T[j,i]<=1.1 :
      category1.append('itself HL1 W'+str(j+1)+str(i+1))

    elif (0.75<=minn3.T[j,i]<=1.25 and 0.75<=maxx3.T[j,i]<=1.25):
      category2.append('itself HL1 W'+str(j+1)+str(i+1))

    else:
      category3.append('itself HL1 W'+str(j+1)+str(i+1))

#**Weights of 1st hidden layer and 2nd hidden layer**

In [ ]:
minn = []
maxx = []
for k in range(8):

  for j in range(8):

    store1 = []
    for i in range(N):

      oh11_w = W_xh2[i][k][j]/b_W_xh2[k][j]
      store1.append(oh11_w)
    minn.append(min(store1))
    maxx.append(max(store1))

minn4 = np.mat([minn[:8],minn[8:16],minn[16:24],minn[24:32],minn[32:40],minn[40:48],minn[48:56],minn[56:]])
maxx4 = np.mat([maxx[:8],maxx[8:16],maxx[16:24],maxx[24:32],maxx[32:40],maxx[40:48],maxx[48:56],maxx[56:]])

In [ ]:
h1_h2_min = pd.DataFrame(minn4.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])
h1_h2_max = pd.DataFrame(maxx4.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])

display(h1_h2_min)
display(h1_h2_max)

                W1         W2        W3  ...   W6         W7         W8
Neuron_1  0.927591 -15.372113 -5.282074  ...  1.0   0.978055 -13.758555
Neuron_2  1.000000   1.000000  1.000000  ...  1.0   1.000000   1.000000
Neuron_3  0.729565  -0.741241  0.696610  ...  1.0   0.810613  -0.781022
Neuron_4  0.926689  -1.527836  0.982737  ...  1.0   0.952501   0.774881
Neuron_5  0.728062   0.600017  0.928039  ...  1.0   1.077028   0.757318
Neuron_6  0.985068   1.000000  0.992221  ...  1.0   0.926885   0.947238
Neuron_7  0.606669  -0.751627  0.943632  ...  1.0   0.853369   0.820387
Neuron_8  0.770324  -1.458777  0.840695  ...  1.0 -18.562643   0.642498

[8 rows x 8 columns]

                W1        W2         W3  ...   W6         W7         W8
Neuron_1  6.889972  6.953382  15.969921  ...  1.0  19.693388  15.182983
Neuron_2  1.000000  1.000000   1.000000  ...  1.0   1.000000   1.000000
Neuron_3  1.448817  2.113687   1.053650  ...  1.0   1.267791   1.807163
Neuron_4  1.161483  6.764389   1.213936  ...  1.0   1.178638   1.938846
Neuron_5  1.184530  1.630046   0.990703  ...  1.0   1.348379   1.244880
Neuron_6  1.019855  1.000000   1.048251  ...  1.0   1.147558   1.047212
Neuron_7  1.443737  1.727864   1.041172  ...  1.0   1.414360   1.034114
Neuron_8  1.972961  5.146335   1.062850  ...  1.0   5.314146   1.115688

[8 rows x 8 columns]

In [ ]:
for j in range(minn4.T.shape[0]):
  for i in range(minn4.T.shape[1]):
  
    if 0.9<=minn4.T[j,i]<=1.1 and 0.9<=maxx4.T[j,i]<=1.1 :
      category1.append('HL1 HL2 W'+str(j+1)+str(i+1))

    elif (0.75<=minn4.T[j,i]<=1.25 and 0.75<=maxx4.T[j,i]<=1.25):
      category2.append('HL1 HL2 W'+str(j+1)+str(i+1))

    else:
      category3.append('HL1 HL2 W'+str(j+1)+str(i+1))

#**Weights of 2nd layer itself**

In [ ]:
minn = []
maxx = []
for k in range(8):

  for j in range(8):

    store1 = []
    for i in range(N):

      oh11_w = W_hh2[i][k][j]/b_W_hh2[k][j]
      store1.append(oh11_w)
    minn.append(min(store1))
    maxx.append(max(store1))

minn5 = np.mat([minn[:8],minn[8:16],minn[16:24],minn[24:32],minn[32:40],minn[40:48],minn[48:56],minn[56:]])
maxx5 = np.mat([maxx[:8],maxx[8:16],maxx[16:24],maxx[24:32],maxx[32:40],maxx[40:48],maxx[48:56],maxx[56:]])

In [ ]:
h2_h2_min = pd.DataFrame(minn5.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])
h2_h2_max = pd.DataFrame(maxx5.T,columns=['W1','W2','W3','W4','W5','W6','W7','W8'],index=['Neuron_1','Neuron_2','Neuron_3','Neuron_4','Neuron_5','Neuron_6','Neuron_7','Neuron_8'])

display(h2_h2_min)
display(h2_h2_max)

                W1         W2         W3  ...   W6        W7         W8
Neuron_1  0.564306  -1.269703 -15.986748  ...  1.0  0.595371  -1.172845
Neuron_2 -2.486527  -0.603270 -22.901600  ...  1.0 -0.866213  -1.454692
Neuron_3  0.911663   0.767398   0.993926  ...  1.0  0.903463   0.508536
Neuron_4 -3.188435   1.000000  -1.917895  ...  1.0  0.372636 -14.838411
Neuron_5  0.533507  -6.652002   0.898229  ...  1.0  0.913661   0.865586
Neuron_6  1.000000   1.000000   1.000000  ...  1.0  1.000000   1.000000
Neuron_7 -0.073017 -38.640682   0.908149  ...  1.0 -6.246704  -1.890409
Neuron_8  0.335925  -0.617422   0.653251  ...  1.0  0.636224  -1.784070

[8 rows x 8 columns]

                W1          W2         W3  ...   W6         W7         W8
Neuron_1  1.445444    4.340831   7.712193  ...  1.0   2.225092   0.946315
Neuron_2  2.694966    1.724753   8.035973  ...  1.0   5.735235  44.745831
Neuron_3  1.278321    2.703813   1.071492  ...  1.0   1.440820   1.560666
Neuron_4  5.165042    1.000000  10.652358  ...  1.0   6.839391  22.357244
Neuron_5  2.236255  110.473625   1.059598  ...  1.0   1.112811   2.254284
Neuron_6  1.000000    1.000000   1.000000  ...  1.0   1.000000   1.000000
Neuron_7  1.883483   99.900558   1.448655  ...  1.0  22.442368   1.346364
Neuron_8  2.387585    5.057054   1.252208  ...  1.0   1.073943  19.815020

[8 rows x 8 columns]

In [ ]:
for j in range(minn5.T.shape[0]):
  for i in range(minn5.T.shape[1]):
  
    if 0.9<=minn5.T[j,i]<=1.1 and 0.9<=maxx5.T[j,i]<=1.1 :
      category1.append('itself HL2 W'+str(j+1)+str(i+1))

    elif (0.75<=minn5.T[j,i]<=1.25 and 0.75<=maxx5.T[j,i]<=1.25):
      category2.append('itself HL2 W'+str(j+1)+str(i+1))

    else:
      category3.append('itself HL2 W'+str(j+1)+str(i+1))

#**Biases between output and 2nd hidden layer**

In [ ]:
minn = []
maxx = []

for j in range(2):

  store1 = []
  for i in range(N):

    oh11_w = b[i][j]/b_b[j]
    store1.append(oh11_w)
  minn.append(min(store1))
  maxx.append(max(store1))

minn6 = np.mat(minn)
maxx6 = np.mat(maxx)

In [ ]:
o_h2_b_min = pd.DataFrame(minn6,columns = ['Bias1','Bias2'])
o_h2_b_max = pd.DataFrame(maxx6,columns = ['Bias1','Bias2'])

display(o_h2_b_min)
display(o_h2_b_max)

      Bias1    Bias2
0  0.152745  0.64433

     Bias1     Bias2
0  2.20354  1.068475

In [ ]:

for j in range(minn6.shape[0]):
  for i in range(minn6.shape[1]):
  
    if 0.9<=minn6[j,i]<=1.1 and 0.9<=maxx6[j,i]<=1.1 :
      category1.append('bias for output'+str(i+1))

    elif (0.75<=minn6[j,i]<=1.25 and 0.75<=maxx6[j,i]<=1.25):
      category2.append('bias for output'+str(i+1))

    else:
      category3.append('bias for output'+str(i+1))

#**Biases between input and 1st hidden layer**

In [ ]:
minn = []
maxx = []

for j in range(8):

  store1 = []
  for i in range(N):

    oh11_w = b_xh[i][j]/b_b_xh[j]
    store1.append(oh11_w)
  minn.append(min(store1))
  maxx.append(max(store1))

minn7 = np.mat(minn)
maxx7 = np.mat(maxx)

In [ ]:
in_h1_b_min = pd.DataFrame(minn7,columns = ['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])
in_h1_b_max = pd.DataFrame(maxx7,columns =['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])

display(in_h1_b_min)
display(in_h1_b_max)

      Bias1  Bias2     Bias3  ...     Bias6     Bias7     Bias8
0  0.836007    1.0 -4.787281  ...  0.932122 -2.065599  0.831503

[1 rows x 8 columns]

    Bias1  Bias2     Bias3      Bias4     Bias5     Bias6     Bias7     Bias8
0  5.2854    1.0  1.268269  85.954842  1.122571  1.060866  1.289175  1.171937

In [ ]:
for j in range(minn7.shape[0]):
  for i in range(minn7.shape[1]):
  
    if 0.9<=minn7[j,i]<=1.1 and 0.9<=maxx7[j,i]<=1.1 :
      category1.append('bias for HL1 neuron '+str(i+1))

    elif (0.75<=minn7[j,i]<=1.25 and 0.75<=maxx7[j,i]<=1.25):
      category2.append('bias for HL1 neuron '+str(i+1))

    else:
      category3.append('bias for HL1 neuron '+str(i+1))

#**Biases of 1st hidden layer itself**

In [ ]:
minn = []
maxx = []

for j in range(8):

  store1 = []
  for i in range(N):

    oh11_w = b_hh1[i][j]/b_b_hh1[j]
    store1.append(oh11_w)
  minn.append(min(store1))
  maxx.append(max(store1))

minn8 = np.mat(minn)
maxx8 = np.mat(maxx)

In [ ]:
h1_h1_b_min = pd.DataFrame(minn8,columns = ['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])
h1_h1_b_max = pd.DataFrame(maxx8,columns =['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])

display(h1_h1_b_min)
display(h1_h1_b_max)

     Bias1  Bias2     Bias3     Bias4     Bias5     Bias6    Bias7     Bias8
0 -0.66157    1.0 -0.235199 -3.145507  0.727433  0.937646 -2.81968  0.874141

      Bias1  Bias2     Bias3     Bias4    Bias5     Bias6     Bias7     Bias8
0  1.063565    1.0  1.057266  3.380983  1.14521  1.069538  1.360325  1.128448

In [ ]:
for j in range(minn8.shape[0]):
  for i in range(minn8.shape[1]):
  
    if 0.9<=minn8[j,i]<=1.1 and 0.9<=maxx8[j,i]<=1.1 :
      category1.append('bias for HL1 itself neuron '+str(i+1))

    elif (0.75<=minn8[j,i]<=1.25 and 0.75<=maxx8[j,i]<=1.25):
      category2.append('bias for HL1 itself neuron '+str(i+1))

    else:
      category3.append('bias for HL1 itself neuron '+str(i+1))

#**Biases between 1st hidden layer and 2nd hidden layer**

In [ ]:
minn = []
maxx = []

for j in range(8):

  store1 = []
  for i in range(N):

    oh11_w = b_xh2[i][j]/b_b_xh2[j]
    store1.append(oh11_w)
  minn.append(min(store1))
  maxx.append(max(store1))

minn9 = np.mat(minn)
maxx9 = np.mat(maxx)

In [ ]:
h1_h2_b_min = pd.DataFrame(minn9,columns = ['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])
h1_h2_b_max = pd.DataFrame(maxx9,columns =['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])

display(h1_h2_b_min)
display(h1_h2_b_max)

      Bias1    Bias2     Bias3     Bias4     Bias5  Bias6    Bias7    Bias8
0  0.342262 -2.76752  0.923542 -0.900206  0.093189    1.0  0.72451  0.19512

      Bias1     Bias2     Bias3     Bias4     Bias5  Bias6     Bias7     Bias8
0  2.397353  6.722603  1.266168  7.099113  1.581982    1.0  1.200774  2.828988

In [ ]:
for j in range(minn9.shape[0]):
  for i in range(minn9.shape[1]):
  
    if 0.9<=minn9[j,i]<=1.1 and 0.9<=maxx9[j,i]<=1.1 :
      category1.append('bias for HL2 neuron '+str(i+1))

    elif (0.75<=minn9[j,i]<=1.25 and 0.75<=maxx9[j,i]<=1.25):
      category2.append('bias for HL2 neuron '+str(i+1))

    else:
      category3.append('bias for HL2 neuron '+str(i+1))

#**Biases of 2nd layer itself**

In [ ]:
minn = []
maxx = []

for j in range(8):

  store1 = []
  for i in range(N):

    oh11_w = b_hh2[i][j]/b_b_hh2[j]
    store1.append(oh11_w)
  minn.append(min(store1))
  maxx.append(max(store1))

minn10 = np.mat(minn)
maxx10 = np.mat(maxx)

In [ ]:
h2_h2_b_min = pd.DataFrame(minn10,columns = ['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])
h2_h2_b_max = pd.DataFrame(maxx10,columns =['Bias1','Bias2','Bias3','Bias4','Bias5','Bias6','Bias7','Bias8'])

display(h2_h2_b_min)
display(h2_h2_b_max)

      Bias1     Bias2     Bias3   Bias4     Bias5  Bias6     Bias7     Bias8
0  3.352751  2.183406  1.116267  0.7684  1.218736    1.0  1.619665 -5.372483

      Bias1     Bias2     Bias3   Bias4     Bias5  Bias6     Bias7     Bias8
0  3.352751  2.183406  1.116267  0.7684  1.218736    1.0  1.619665 -5.372483

In [ ]:
for j in range(minn10.shape[0]):
  for i in range(minn10.shape[1]):
  
    if 0.9<=minn10[j,i]<=1.1 and 0.9<=maxx10[j,i]<=1.1 :
      category1.append('bias for HL2 itself neuron '+str(i+1))

    elif (0.75<=minn10[j,i]<=1.25 and 0.75<=maxx10[j,i]<=1.25):
      category2.append('bias for HL2 itself neuron '+str(i+1))

    else:
      category3.append('bias for HL2 itself neuron '+str(i+1))

In [ ]:
display('1st category',category1)
display('2nd category',category2)
display('3rd category',category3)

'1st category'

['output HL2 W16',
 'output HL2 W26',
 'input HL1 W12',
 'input HL1 W16',
 'input HL1 W22',
 'input HL1 W26',
 'input HL1 W32',
 'input HL1 W36',
 'input HL1 W42',
 'input HL1 W46',
 'itself HL1 W12',
 'itself HL1 W16',
 'itself HL1 W21',
 'itself HL1 W22',
 'itself HL1 W23',
 'itself HL1 W24',
 'itself HL1 W25',
 'itself HL1 W26',
 'itself HL1 W27',
 'itself HL1 W28',
 'itself HL1 W32',
 'itself HL1 W36',
 'itself HL1 W42',
 'itself HL1 W46',
 'itself HL1 W52',
 'itself HL1 W56',
 'itself HL1 W61',
 'itself HL1 W62',
 'itself HL1 W63',
 'itself HL1 W64',
 'itself HL1 W65',
 'itself HL1 W66',
 'itself HL1 W67',
 'itself HL1 W68',
 'itself HL1 W72',
 'itself HL1 W76',
 'itself HL1 W82',
 'itself HL1 W86',
 'HL1 HL2 W16',
 'HL1 HL2 W21',
 'HL1 HL2 W22',
 'HL1 HL2 W23',
 'HL1 HL2 W24',
 'HL1 HL2 W25',
 'HL1 HL2 W26',
 'HL1 HL2 W27',
 'HL1 HL2 W28',
 'HL1 HL2 W36',
 'HL1 HL2 W45',
 'HL1 HL2 W46',
 'HL1 HL2 W53',
 'HL1 HL2 W55',
 'HL1 HL2 W56',
 'HL1 HL2 W61',
 'HL1 HL2 W62',
 'HL1 HL2 W63',
 'HL1 HL2 W65',
 'HL1 HL2 W66',
 'HL1 HL2 W68',
 'HL1 HL2 W73',
 'HL1 HL2 W76',
 'HL1 HL2 W86',
 'itself HL2 W16',
 'itself HL2 W26',
 'itself HL2 W33',
 'itself HL2 W36',
 'itself HL2 W42',
 'itself HL2 W46',
 'itself HL2 W56',
 'itself HL2 W61',
 'itself HL2 W62',
 'itself HL2 W63',
 'itself HL2 W64',
 'itself HL2 W65',
 'itself HL2 W66',
 'itself HL2 W67',
 'itself HL2 W68',
 'itself HL2 W76',
 'itself HL2 W86',
 'bias for HL1 neuron 2',
 'bias for HL1 neuron 6',
 'bias for HL1 itself neuron 2',
 'bias for HL1 itself neuron 6',
 'bias for HL2 neuron 6',
 'bias for HL2 itself neuron 6']

'2nd category'

['output HL2 W15',
 'output HL2 W18',
 'output HL2 W22',
 'output HL2 W25',
 'input HL1 W38',
 'itself HL1 W38',
 'itself HL1 W55',
 'itself HL1 W78',
 'HL1 HL2 W35',
 'HL1 HL2 W41',
 'HL1 HL2 W43',
 'HL1 HL2 W44',
 'HL1 HL2 W47',
 'HL1 HL2 W58',
 'HL1 HL2 W64',
 'HL1 HL2 W67',
 'HL1 HL2 W78',
 'HL1 HL2 W83',
 'HL1 HL2 W85',
 'itself HL2 W35',
 'itself HL2 W53',
 'itself HL2 W55',
 'itself HL2 W57',
 'bias for HL1 neuron 5',
 'bias for HL1 neuron 8',
 'bias for HL1 itself neuron 8',
 'bias for HL2 itself neuron 3',
 'bias for HL2 itself neuron 4',
 'bias for HL2 itself neuron 5']

'3rd category'

['output HL2 W11',
 'output HL2 W12',
 'output HL2 W13',
 'output HL2 W14',
 'output HL2 W17',
 'output HL2 W21',
 'output HL2 W23',
 'output HL2 W24',
 'output HL2 W27',
 'output HL2 W28',
 'input HL1 W11',
 'input HL1 W13',
 'input HL1 W14',
 'input HL1 W15',
 'input HL1 W17',
 'input HL1 W18',
 'input HL1 W21',
 'input HL1 W23',
 'input HL1 W24',
 'input HL1 W25',
 'input HL1 W27',
 'input HL1 W28',
 'input HL1 W31',
 'input HL1 W33',
 'input HL1 W34',
 'input HL1 W35',
 'input HL1 W37',
 'input HL1 W41',
 'input HL1 W43',
 'input HL1 W44',
 'input HL1 W45',
 'input HL1 W47',
 'input HL1 W48',
 'itself HL1 W11',
 'itself HL1 W13',
 'itself HL1 W14',
 'itself HL1 W15',
 'itself HL1 W17',
 'itself HL1 W18',
 'itself HL1 W31',
 'itself HL1 W33',
 'itself HL1 W34',
 'itself HL1 W35',
 'itself HL1 W37',
 'itself HL1 W41',
 'itself HL1 W43',
 'itself HL1 W44',
 'itself HL1 W45',
 'itself HL1 W47',
 'itself HL1 W48',
 'itself HL1 W51',
 'itself HL1 W53',
 'itself HL1 W54',
 'itself HL1 W57',
 'itself HL1 W58',
 'itself HL1 W71',
 'itself HL1 W73',
 'itself HL1 W74',
 'itself HL1 W75',
 'itself HL1 W77',
 'itself HL1 W81',
 'itself HL1 W83',
 'itself HL1 W84',
 'itself HL1 W85',
 'itself HL1 W87',
 'itself HL1 W88',
 'HL1 HL2 W11',
 'HL1 HL2 W12',
 'HL1 HL2 W13',
 'HL1 HL2 W14',
 'HL1 HL2 W15',
 'HL1 HL2 W17',
 'HL1 HL2 W18',
 'HL1 HL2 W31',
 'HL1 HL2 W32',
 'HL1 HL2 W33',
 'HL1 HL2 W34',
 'HL1 HL2 W37',
 'HL1 HL2 W38',
 'HL1 HL2 W42',
 'HL1 HL2 W48',
 'HL1 HL2 W51',
 'HL1 HL2 W52',
 'HL1 HL2 W54',
 'HL1 HL2 W57',
 'HL1 HL2 W71',
 'HL1 HL2 W72',
 'HL1 HL2 W74',
 'HL1 HL2 W75',
 'HL1 HL2 W77',
 'HL1 HL2 W81',
 'HL1 HL2 W82',
 'HL1 HL2 W84',
 'HL1 HL2 W87',
 'HL1 HL2 W88',
 'itself HL2 W11',
 'itself HL2 W12',
 'itself HL2 W13',
 'itself HL2 W14',
 'itself HL2 W15',
 'itself HL2 W17',
 'itself HL2 W18',
 'itself HL2 W21',
 'itself HL2 W22',
 'itself HL2 W23',
 'itself HL2 W24',
 'itself HL2 W25',
 'itself HL2 W27',
 'itself HL2 W28',
 'itself HL2 W31',
 'itself HL2 W32',
 'itself HL2 W34',
 'itself HL2 W37',
 'itself HL2 W38',
 'itself HL2 W41',
 'itself HL2 W43',
 'itself HL2 W44',
 'itself HL2 W45',
 'itself HL2 W47',
 'itself HL2 W48',
 'itself HL2 W51',
 'itself HL2 W52',
 'itself HL2 W54',
 'itself HL2 W58',
 'itself HL2 W71',
 'itself HL2 W72',
 'itself HL2 W73',
 'itself HL2 W74',
 'itself HL2 W75',
 'itself HL2 W77',
 'itself HL2 W78',
 'itself HL2 W81',
 'itself HL2 W82',
 'itself HL2 W83',
 'itself HL2 W84',
 'itself HL2 W85',
 'itself HL2 W87',
 'itself HL2 W88',
 'bias for output1',
 'bias for output2',
 'bias for HL1 neuron 1',
 'bias for HL1 neuron 3',
 'bias for HL1 neuron 4',
 'bias for HL1 neuron 7',
 'bias for HL1 itself neuron 1',
 'bias for HL1 itself neuron 3',
 'bias for HL1 itself neuron 4',
 'bias for HL1 itself neuron 5',
 'bias for HL1 itself neuron 7',
 'bias for HL2 neuron 1',
 'bias for HL2 neuron 2',
 'bias for HL2 neuron 3',
 'bias for HL2 neuron 4',
 'bias for HL2 neuron 5',
 'bias for HL2 neuron 7',
 'bias for HL2 neuron 8',
 'bias for HL2 itself neuron 1',
 'bias for HL2 itself neuron 2',
 'bias for HL2 itself neuron 7',
 'bias for HL2 itself neuron 8']

In [ ]:
torch.save(category1,'category1.csv')
torch.save(category2,'category2.csv')
torch.save(category3,'category3.csv')

In [ ]:
#!pip install --upgrade gupload

from pydrive.auth import GoogleAuth
from google.colab import auth

# Authenticate and create the PyDrive client.
auth.authenticate_user()

!gupload --to '1qy-_schJ48Y7XrBro9HFVt13WqurqIWQ' *.csv
#!gupload --to '1qy-_schJ48Y7XrBro9HFVt13WqurqIWQ' model_without_2.pth

# if multiple images
# !gupload --to '1wNJUZtQD_6oBvvUhWRlAb0xjjjoLZQ' *.png

/bin/bash: gupload: command not found

In [ ]:
category1_HOR = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for HOR/category1.csv')
category2_HOR = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for HOR/category2.csv')
category3_HOR = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for HOR/category3.csv')

In [ ]:
category1_RK = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for rate constant/category1.csv')
category2_RK = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for rate constant/category2.csv')
category3_RK = torch.load('/content/drive/MyDrive/data sets for google collab/project mtech/Data sets/weights/weights variation for rate constant/category3.csv')

In [ ]:
a = len(category1_HOR)
b = len(category1_RK)
common_cat1 = []

for i in range(b):
  if category1_RK[i] in category1_HOR:
    common_cat1.append(category1_RK[i])

for i in common_cat1:
  category1_HOR.remove(i)
  category1_RK.remove(i)

In [ ]:
a = len(category2_HOR)
b = len(category2_RK)
common_cat2 = []

for i in range(b):
  if category2_RK[i] in category2_HOR:
    common_cat2.append(category2_RK[i])

for i in common_cat2:
  category2_HOR.remove(i)
  category2_RK.remove(i)

In [ ]:
a = len(category3_HOR)
b = len(category3_RK)
common_cat3 = []

for i in range(a):
  if category3_HOR[i] in category3_RK:
    common_cat3.append(category3_HOR[i])

for i in common_cat3:
  category3_HOR.remove(i)
  category3_RK.remove(i)